::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .5);
}

* {
    border-radius: 0 !important;
}

body {
    font-family: Ubuntu, sans-serif;
}

aside {
    z-index: 50;
    width: 100%;
}

.is-overlay {
    left: auto;
}

.is-fullheight {
    height: 100vh;
}

.has-scroll {
    overflow-y: auto;
}

.navbar-brand {
    border-left: .75rem hsl(141, 71%, 48%) solid
}

.field:nth-last-of-type(2) {
    margin-bottom: 0 !important;
}

.field:last-child {
    margin-top: .75rem;
}

.table .is-1 {
    width: 20px;
}

.table .is-2 {
    width: 7rem;
}

.dropdown-menu {
    min-width: auto;
}