::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .5);
}

#app {
    min-height: 100vh;
    font-family: Ubuntu, sans-serif;
}

label.button .icon {
    margin: 0 !important;
}

.container {
    max-width: 72rem !important;
}

.table .is-1 {
    width: 1rem;
}

.table .is-2 {
    width: 15%;
}

.table .is-3 {
    width: 20%;
}

.table .is-2, .table .is-3 {
    white-space: nowrap;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: black !important;
}