* {
    border-radius: 0 !important;
}

.has-custom-height {
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
}

.has-scroll {
    flex: 1;
    overflow: auto;
}

.has-scroll::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.has-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2)
}
